<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="ch.marlovits.unsupportedClassesSniffer.ExtInfoSnifferView"
            id="ch.marlovits.unsupportedClassesSniffer.ExtInfoSnifferView"
            name="ExtInfoSniffer ***"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="ch.marlovits.unsupportedClassesSniffer.ArtikelSnifferView"
            id="ch.marlovits.unsupportedClassesSniffer.ArtikelSnifferView"
            name="Artikel Sniffer ***"
            restorable="false">
      </view>
   </extension>

</plugin>
